* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.colors {
  color: #fff;
  color: #e9e9e9;
  color: #919191;
  color: #a64ac9;
  color: #fccd04;
  color: #ffb48f;
  color: #f5e6cc;
  color: #17e9e0;
  color: #ff6e13;
  color: #dd8efc;
}

/* Header Section */
#header {
  display: block;
  height: 70px;
  background-color: #fff;
}

header #logo {
  position: relative;
  display: inline-block;
  float: left;
  width: 200px;
  height: 70px;
  background-color: #a64ac9;
  border-right: 2px solid darkgray;
}

header #logo img {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 50%;
  /* height: 75px; */
}

header #navbar {
  display: inline-block;
  height: 70px;
  margin: 0;
}

header #navbar li {
  display: inline-block;
  float: left;
  color: #ff6e13;
  font-size: 1.3rem;
  font-weight: 600;
  width: 185px;
  height: 70px;
  padding-top: 20px;
  text-align: center;
  background-color: #fff;
  border-right: 2px solid #919191;
}

header #navbar li:hover {
  color: #fff;
  background-color: #ff6e13;
  transition: 0.3s ease-in-out;
}

/* Index.html */
#main {
  display: block;
  height: 100vh;
}

#main .poster {
  position: relative;
  width: 100%;
  height: 95%;
  background-image: url(/images/bbq-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .poster h2 {
  position: relative;
  padding: 200px 0 0 50px;
  width: 250px;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
}

#main .poster span {
  position: relative;
  padding: 0 0 0 50px;
  width: 250px;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
}

#main .poster p {
  position: relative;
  padding: 20px 0 0 50px;
  width: 500px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #a64ac9;
}

#main .poster .home-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 50px 0 0 50px;
  padding: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* color: #fff; */
  text-decoration: none;
  text-transform: uppercase;
  background-color: #cf6ef5;
  border-radius: 5px;
  /* text-shadow: 2px 2px 8px #ff6e13; */
}

#features {
  display: block;
  height: 75vh;
  text-align: center;
}

#features h2 {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  padding: 50px 0 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#features .feature-box {
  display: inline-block;
  width: 25%;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

/* .feature-box div .fa {
  display: block;
  font-size: 2rem;
  color: #a64ac9;
  margin-bottom: 50px;
} */

.feature-box div img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /* font-size: 2rem; */
  /* color: #a64ac9; */
  margin-bottom: 50px;
}

.feature-box h4 {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.feature-box p {
  display: block;
  font-size: 1rem;
  margin-bottom: 50px;
}

#scale {
  display: block;
  height: auto;
  background-color: #f5e6cc;
}

#scale .kitchen {
  display: block;
  position: relative;
  height: 600px;
  text-align: center;
  background-color: #f5e6cc;
}

#scale .kitchen .kitchen-bg {
  position: relative;
  top: 20px;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-image: url(/images/kitchen-0.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* #scale .kitchen img {
  width: 90%;
  height: 90%;
  margin: 30px 0 0;
} */

#scale .kitchen .kitchen-bg div {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 350px;
  height: 350px;
  color: #a64ac9;
  opacity: 0.9;
  background-color: #fff;
}

.kitchen .kitchen-bg div h3 {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 50px 50px 10px;
}

.kitchen .kitchen-bg div p {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 50px;
}

#scale .mailing-list {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 5px 100px;
}

#scale .mailing-list span {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
}

#scale .mailing-list h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.7;
  text-transform: uppercase;
}

#scale .mailing-list .email-list-divider {
  width: 50px;
  border-top: 5px solid #a64ac9;
  margin: 0 auto;
}

#scale .mailing-list p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 40px 0 0;
}

#scale .mailing-list form {
  display: block;
  margin-top: 15px;
}

#scale .mailing-list form input {
  display: inline-block;
  font-size: 1.1rem;
  width: 175px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

#scale .mailing-list form input[type="submit"] {
  color: #000;
  font-weight: 600;
  background-color: #ff6e13;
}

/*      About Section      */

#about-info {
  height: auto;
  min-height: 600px;
  background-color: #f5e6cc;
}

#about-info div {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 50px;
}

#about-info div h2 {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  padding: 20px 0;
}

#about-info div h2 {
  display: block;
  font-size: 4rem;
  font-weight: 100;
  padding: 20px 0;
}

#about-info div p {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 5px 30px;
}

/*      Contact Section      */

#contact-info {
  height: auto;
  min-height: 500px;
}

#contact-info .send-message {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 50px;
}

#contact-info .send-message span {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
}

#contact-info .send-message h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.7;
  text-transform: uppercase;
}

#contact-info .send-message .msg-divider {
  width: 50px;
  border-top: 5px solid #a64ac9;
  margin: 0 auto;
}

#contact-info .send-message p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 70px 0 50px;
}

#contact-info .send-message form input {
  display: inline-block;
  font-size: 1.1rem;
  width: 170px;
  height: 35px;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 1px;
}

#contact-info .send-message form input[type="submit"] {
  display: inline-block;
  color: #000;
  font-weight: 600;
  background-color: #ff6e13;
}

#contact-info .send-message form textarea {
  display: inline-block;
  color: #000;
  width: 345px;
  margin: 10px 180px 0 0;
  padding: 5px;
}

/*      Recipes Section      */

/*      Footer Section      */

#footer {
  height: 300px;
  padding: 15px;
  text-align: center;
}

#footer div {
  display: inline-block;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  margin: 50px 10px;
  vertical-align: text-top;
}

#footer div h4 {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  padding: 20px 0;
  -webkit-text-stroke: 1px #a64ac9;
  /* -webkit-text-stroke: 1px #a64ac9; */
  /* text-shadow: 2px 2px 4px #ff6e13; */
  text-transform: uppercase;
}

#footer div a {
  text-decoration: none;
}

#footer div a span {
  color: #ff6e13;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}

#footer-nav a span {
  padding: 5px 0;
}

#footer-nav a span:hover {
  font-weight: 600;
  /* text-shadow: 1px 1px 2px #a64ac9; */
  text-shadow: 1px 1px 2px #ffb48f;
  transition: all 0.3s ease-in-out;
}

#social-media-nav a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: #ff6e13;
  border-radius: 50%;
}

#social-media-nav a span {
  padding: 1rem 1rem;
}

#social-media-nav a span .fa {
  color: #fff;
  font-size: 1.3rem;
}

#social-media-nav a:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  transition: all 0.3s ease-in-out;
}

.facebook {
  background-color: #3a5998 !important;
}

.instagram {
  background-color: #bd977c !important;
}

.pintrest {
  background-color: #cc2127 !important;
}

.twitter {
  background-color: #55acee !important;
}

.youtube {
  background-color: #ff0400 !important;
}

#footer-logo a {
  width: 90%;
  height: 100%;
}

#footer .copyrights {
  color: #ff6e13;
  font-size: 1.1rem;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
