* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.colors {
  color: #fff;
  color: #e9e9e9;
  color: #919191;
  color: #a64ac9;
  color: #fccd04;
  color: #ffb48f;
  color: #f5e6cc;
  color: #17e9e0;
  color: #ff6e13;
  color: #dd8efc;
}

/*   #####   Header Section   #####   */

#header {
  display: block;
  height: 70px;
  background-color: #fff;
}

header #logo {
  position: relative;
  display: inline-block;
  float: left;
  width: 200px;
  height: 70px;
  background-color: #a64ac9;
  border-right: 2px solid darkgray;
}

header #logo img {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 50%;
  /* height: 75px; */
}

header #navbar {
  display: inline-block;
  height: 70px;
  margin: 0;
}

header #navbar li {
  display: inline-block;
  float: left;
  color: #ff6e13;
  font-size: 1.3rem;
  font-weight: 600;
  width: 185px;
  height: 70px;
  padding-top: 20px;
  text-align: center;
  background-color: #fff;
  border-right: 2px solid #919191;
}

header #navbar li:hover {
  color: #fff;
  background-color: #ff6e13;
  transition: 0.3s ease-in-out;
}

header #menuBtn {
  display: inline-block;
  float: right;
  color: #ff6e13;
  font-size: 3rem;
  font-weight: 600;
  width: 85px;
  height: 70px;
  padding-bottom: 5px;
  margin-right: 15px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

header #menuBtn:hover {
  color: #fff;
  background-color: #ff6e13;
  transition: 0.3s ease-in-out;
}

/*   #####   Index.html   #####   */

#main {
  display: block;
  height: 100vh;
}

#main .poster {
  position: relative;
  width: 100%;
  height: 95%;
  background-image: url(/images/bbqchicken.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .poster h2 {
  position: relative;
  padding: 200px 0 0 50px;
  width: 250px;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
}

#main .poster span {
  position: relative;
  padding: 0 0 0 50px;
  width: 250px;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
}

#main .poster p {
  position: relative;
  padding: 20px 0 0 50px;
  width: 500px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #a64ac9;
}

#main .poster .home-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 50px 0 0 50px;
  padding: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* color: #fff; */
  text-decoration: none;
  text-transform: uppercase;
  background-color: #cf6ef5;
  border-radius: 5px;
  /* text-shadow: 2px 2px 8px #ff6e13; */
}

#features {
  display: block;
  height: 75vh;
  text-align: center;
}

#features h2 {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  padding: 50px 0 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#features .feature-box {
  display: inline-block;
  width: 25%;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

/* .feature-box div .fa {
  display: block;
  font-size: 2rem;
  color: #a64ac9;
  margin-bottom: 50px;
} */

.feature-box div img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  /* font-size: 2rem; */
  /* color: #a64ac9; */
  margin-bottom: 50px;
}

.feature-box h4 {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.feature-box p {
  display: block;
  font-size: 1rem;
  margin-bottom: 50px;
}

#scale {
  display: block;
  height: auto;
  background-color: #f5e6cc;
}

#scale .kitchen {
  display: block;
  position: relative;
  height: 600px;
  text-align: center;
  background-color: #f5e6cc;
}

#scale .kitchen .kitchen-bg {
  position: relative;
  top: 20px;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-image: url(/images/kitchen.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* #scale .kitchen img {
  width: 90%;
  height: 90%;
  margin: 30px 0 0;
} */

#scale .kitchen .kitchen-bg div {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 350px;
  height: 350px;
  color: #a64ac9;
  opacity: 0.9;
  background-color: #fff;
}

.kitchen .kitchen-bg div h3 {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 50px 50px 10px;
}

.kitchen .kitchen-bg div p {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 50px;
}

#scale .mailing-list {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 5px 100px;
}

#scale .mailing-list span {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
}

#scale .mailing-list h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.7;
  text-transform: uppercase;
}

#scale .mailing-list .email-list-divider {
  width: 50px;
  border-top: 5px solid #a64ac9;
  margin: 0 auto;
}

#scale .mailing-list p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 40px 0 0;
}

#scale .mailing-list form {
  display: block;
  margin-top: 15px;
}

#scale .mailing-list form input {
  display: inline-block;
  font-size: 1.1rem;
  width: 175px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

#scale .mailing-list form input[type="submit"] {
  color: #000;
  font-weight: 600;
  background-color: #ff6e13;
}

/*   #####   About Section   #####   */

#about-info {
  height: auto;
  min-height: 600px;
  background-color: #f5e6cc;
}

#about-info div {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 50px;
}

#about-info div h2 {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  padding: 20px 0;
}

#about-info div h2 {
  display: block;
  font-size: 4rem;
  font-weight: 100;
  padding: 20px 0;
}

#about-info div p {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 5px 30px;
}

/*   #####   Contact Section   #####   */

#contact-info {
  height: auto;
  min-height: 600px;
  background-color: #f5e6cc;
}

#contact-info .send-message {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 50px;
}

#contact-info .send-message span {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
}

#contact-info .send-message h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.7;
  text-transform: uppercase;
}

#contact-info .send-message .msg-divider {
  width: 50px;
  border-top: 5px solid #a64ac9;
  margin: 0 auto;
}

#contact-info .send-message p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 70px 0 50px;
}

#contact-info .send-message form input {
  display: inline-block;
  font-size: 1.1rem;
  width: 170px;
  height: 35px;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 1px;
}

#contact-info .send-message form input[type="submit"] {
  display: inline-block;
  color: #000;
  font-weight: 600;
  background-color: #ff6e13;
}

#contact-info .send-message form textarea {
  display: inline-block;
  color: #000;
  width: 345px;
  margin: 10px 180px 0 0;
  padding: 5px;
}

/*   #####   Recipes Section   #####   */

#recipes-content {
  display: block;
  height: auto;
  min-height: 600px;
  background-color: #f5e6cc;
}

#recipes-content .recipes-container {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  /* background-color: lightblue; */
}

#recipes-content .recipes-container h2 {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 50px 0 25px;
}

#recipes-content .recipes-container ol {
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 25px;
  text-transform: capitalize;
}

#recipes-content .recipes-container ol li a {
  color: #cc2127;
  text-decoration: none;
}

.recipe-card {
  display: block;
  position: relative;
  color: #323232;
  width: 100%;
  height: auto;
  min-height: 400px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: #ffb48f;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 4px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 4px 2px rgba(50, 50, 50, 0.75);
}

.recipe-card h4 {
  display: inline-block;
  width: 30%;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 0 10px;
  text-transform: capitalize;
}

.recipe-card h4::nth-last-child(1) {
  padding: 0 0;
}

.recipe-card span {
  display: inline-block;
  width: 30%;
  font-size: 1rem;
  padding: 0 0 10px;
}

.recipe-card .ingredients {
  /* display: inline-block; */
  position: absolute;
  right: 0;
  top: 50px;
  /* float: right; */
}

.recipe-card .ingredients ol li {
  font-size: 1rem;
}
.recipe-card ol {
  display: block;
  font-size: 1.3rem;
  text-transform: none;
}

.recipe-card ol li {
  max-width: 50%;
  font-size: 1.1rem;
  margin-left: 25px;
  line-height: 1.7;
}

.recipe-card .timer-btn {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  width: 90px;
  height: 30px;
  margin: 20px 0 0;
  background-color: #a64ac9;
  /* border-radius: 5px; */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.recipe-card .timer-btn:hover {
  cursor: pointer;
  color: #323232;
  border-radius: 5px;
  background-color: #dd8efc;
  transition: all 0.5s ease-in-out;
}

#recipes-content #timer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: inline-block;
  width: 200px;
  height: 100px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 10px 0 5px;
  background-color: #a64ac9;
  border: 2px solid #323232;
  border-radius: 10px;
  visibility: hidden;
}

#recipes-content #timer button {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px auto;
  padding: 2px 5px;
  border-radius: 2px;
}

/*   #####   Featured Recipe Section   #####   */

#featured-recipe {
  position: relative;
  display: block;
  height: 80vh;
  padding: 10px;
  background-image: url(/images/light-wood-table-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#featured-recipe #recipe-thumbnail {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 10px;
  width: 60%;
  height: 80%;
  background-image: url(/images/bbq-97.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* #featured-recipe .recipe-thumbnail img {
  /* display: inline-block;
  width: 100%;
  height: 100%; /
  display: inline-block;
  position: relative;
  top: 150px;
  left: 100px;
  width: 70%;
  height: 70%;
} */

#featured-recipe .recipe-info {
  display: inline-block;
  position: relative;
  width: 35%;
  height: auto;
  margin: 0 auto;
  float: right;
}

#featured-recipe .recipe-info h2 {
  position: relative;
  padding: 50px 20px 0 50px;
  width: 100%;
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
}

#featured-recipe .recipe-info p {
  position: relative;
  padding: 20px 0 0 50px;
  width: 75%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #a64ac9;
}

#featured-recipe .recipe-info .home-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 50px 0 0 50px;
  padding: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* ### color: #fff; ### */
  text-decoration: none;
  text-transform: uppercase;
  background-color: #cf6ef5;
  border-radius: 5px;
  /* ### text-shadow: 2px 2px 8px #ff6e13; ### */
}

/* #main .poster span {
  position: relative;
  padding: 0 0 0 50px;
  width: 250px;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #ff6e13;
} */

/* #main .poster p {
  position: relative;
  padding: 20px 0 0 50px;
  width: 500px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 8px #a64ac9;
} */

/* #main .poster .home-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 50px 0 0 50px;
  padding: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  ### color: #fff; ###
  text-decoration: none;
  text-transform: uppercase;
  background-color: #cf6ef5;
  border-radius: 5px;
  ### text-shadow: 2px 2px 8px #ff6e13; ###
*/

/*   #####   Footer Section   #####   */

#footer {
  height: 300px;
  padding: 15px;
  text-align: center;
}

#footer div {
  display: inline-block;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  margin: 50px 10px;
  vertical-align: text-top;
}

#footer div h4 {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  padding: 20px 0;
  -webkit-text-stroke: 1px #a64ac9;
  /* -webkit-text-stroke: 1px #a64ac9; */
  /* text-shadow: 2px 2px 4px #ff6e13; */
  text-transform: uppercase;
}

#footer div a {
  text-decoration: none;
}

#footer div a span {
  color: #ff6e13;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}

#footer-nav a span {
  padding: 5px 0;
}

#footer-nav a span:hover {
  font-weight: 600;
  /* text-shadow: 1px 1px 2px #a64ac9; */
  text-shadow: 1px 1px 2px #ffb48f;
  transition: all 0.3s ease-in-out;
}

#social-media-nav a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: #ff6e13;
  border-radius: 50%;
}

#social-media-nav a span {
  padding: 1rem 1rem;
}

#social-media-nav a span .fa {
  color: #fff;
  font-size: 1.3rem;
}

#social-media-nav a:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  box-shadow: 0px 0px 10px 5px rgba(255, 110, 19, 1);
  transition: all 0.3s ease-in-out;
}

.facebook {
  background-color: #3a5998 !important;
}

.instagram {
  background-color: #bd977c !important;
}

.pintrest {
  background-color: #cc2127 !important;
}

.twitter {
  background-color: #55acee !important;
}

.youtube {
  background-color: #ff0400 !important;
}

#footer-logo a {
  width: 90%;
  height: 100%;
}

#footer .copyrights {
  color: #ff6e13;
  font-size: 1.1rem;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
